<launch>
    <arg name="mesh_dir" default="$(find primp_exp_test)/models" />
    <arg name="demo_type" default="pouring"/>
    <arg name="object" default="red_laddle"/>

    <node name="panda_grasp_handle_server" pkg="panda_moveit_control" type="panda_grasp_handle_server" output="screen" >
        <param name="scene_mesh_path" value="$(arg mesh_dir)/mesh_scene.obj" type="string"/>
    </node>
</launch>